:root {
    --color1: #222;
    --color2: #333;
    --alive-color: #E1C04B;
    --button-color: #b1973c;
    --button-color-hover: #917922;
    --cell-color-alive: #0F379D
}

* {
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--color1);
    color: #f3f3f3f6;
}

h1 {
    margin-top: 15px;
    margin-bottom: 15px;
}

p {
    margin-bottom: 15px;
}

header {
    margin-top: 25px;
    margin-bottom: 45px;
    text-align: center;
}

#game {
    display: block;
    margin: 50px auto 50px auto;
}

#configs {
    width: fit-content;
    margin: auto;
}

#configs p {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
}

#configs #cell-chance, #configs #fps {
    max-width: 60px;
    margin-bottom: 15px;
}

#configs #cell-chance:focus, #confis #fps:focus {
    outline: none
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#buttons button {
    display: block;
    background-color: var(--button-color);
    font-weight: bold;
    font-size: 1.1em;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    color: #f3f3f3f6;
    border: none;
    cursor: pointer;
    transition-duration: 250ms;
}

#buttons button:hover {
    background-color: var(--button-color-hover);
}
